<%= stylesheet_link_tag "postIndex" %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;1,400;1,700&display=swap" %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Martel:wght@300;400;600;700;800&display=swap" %>



<h1 class="index-h1">Lost & Found Pets!</h1>

<% if user_signed_in? %>

<%= link_to 'log out', destroy_user_session_url, method: :delete %>

<%= link_to 'New Post', post_new_path %>

<% else %>
<p class="index-prompt"> Please <%= link_to 'log in', new_user_session_url %> or <%= link_to 'sign up', new_user_registration_url %> to post a Lost or Found case. </p>


<% end %>
<main class="index-container">
  <% @posts.each do |post| %>
    <div class="card my-3 index-div" id="myID" >
    <%= link_to  post_path(post) do %>
      <img src=<%= post.url %> class:"card-img-top index-img"/>
      <% end %>
      <%= link_to post_path(post) do %>
        <div class="index-card-body">
            <h4 class="card-pet-status-index">
            <%= post.pet_status.status + ": " + post.pet_type.typee  %>
            </h4>
            <p class="card-date-index">
            Post Date: </a><%= post.created_at %>
            </p>  
            <p class="card-description">
            Details:
              <%= post.description %>
            </p>
            <p class="card-location">
            Location: <%= post.location %>
            </p>
        </div>
      <% end %>
    </div>

  <% end %>
</main>


