
<h1>Lost & Found Pets!</h1>






<% if user_signed_in? %>

<%= link_to 'log out', destroy_user_session_url, method: :delete %>

<%= link_to 'New Post', post_new_path %>

<% else %>
<a> Please Login or Signup to post a Lost or Found case: </a>

<%= link_to 'log in', new_user_session_url %>

<%= link_to 'sign up', new_user_registration_url %>


<% end %>

<p>List of all the posts:</p>

<% @posts.each do |post| %>
  <div>
    <a> Pet Status: </a><%= post.pet_status.status %><br/>
    <a>Post Date: </a><%= post.created_at %><br/> 
    <img src=<%= post.url %>

        <a>Pet Type: </a><%= post.pet_type.typee %><br/>
        <a> Description: </a><%= post.description %><br/>
        <a> Location: </a><%= post.location %><br/>
        <%= link_to 'Show', post_path(post) %>
      </p>
    </div>
  </div>
<% end %>