
<h1>Lost & Found Pets!</h1>

<p>List of all the posts:</p>

<% if user_signed_in? && current_user.admin %>
  <p>Here are your super secret admin powers, sir:</p>
<% end %>


<% @posts.each do |post| %>
  <div class="card my-3" id="myID" style="width: 18rem">
    <h4 class="card-pet-status">
        <%= post.pet_status.status %><br/>
    <img src=<%= post.url %> class:"card-img-top"/>
    <div class="card-body">
    	<h4 class="card-pet-type">
        <%= post.pet_type.typee %><br/>
      <h5 class="card-description">
        <%= post.description %><br/>
      </h5>
      <p class="card-location">
        <%= post.location %>
      </p>
    </div>
  </div>
<% end %>