<%= form_with scope: :post, url: posts_path, local: true do |form| %>

<h1>Hi, please fill this form</h1>

<!--  | location | url | description | -->



  <p>
  <%= form.label :pet_status_id %><br>
  <%= form.collection_select :pet_status_id, @statuses, :id, :status %>
  </p>

  <p>
	<%= form.label :pet_type_id %><br>
	<%= form.collection_select :pet_type_id, @type, :id, :typee %>
  </p>

  <p>
	<%= form.label :location %><br>
	<%= form.text_field :location %>
  </p>

  <p>
	<%= form.label :description %><br>
	<%= form.text_area :description %>
  </p>

  

  <p>
	<%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', root_path %>