<%= form_with scope: :posts_new, url: post_create_path, local: true do |form| %>

<h1>Hi, please fill this form</h1>

<!--  | location | url | description | -->

  <p>
	<%= form.label :location %><br>
	<%= form.text_field :location %>
  </p>

<!-- url functionality for cloudinary -->
<!--   <p>
	<%= form.label :url %><br>
	<%= form.text_field :url %>
  </p> -->

  <p>
	<%= form.label :description %><br>
	<%= form.text_area :description %>
  </p>

  <p>
	<%= form.submit %>
  </p>
<% end %>