<%= stylesheet_link_tag "newlostform" %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;1,400;1,700&display=swap" %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Martel:wght@300;400;600;700;800&display=swap" %>

 <div class ="petform">
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.10/lottie.min.js" %>
  <%= javascript_include_tag "lottie.js" %>
  <%= javascript_include_tag "form.js" %>
  </div>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>

<h1 class="newlostformh1">Hi, please fill this form</h1>



 <div class = "uploadfile">
  <label for="file">File to Upload</label> 
  <div class="choosefile">
  <%= form.file_field :file %>
  </div>  
</div>  
  


  <p>
  <%= form.hidden_field :pet_status_id, value: @status.id %><br>
  </p>

  <div class="lostpet-type-id">
  <%= form.label :pet_type_id %><br>
  <%= form.collection_select :pet_type_id, @type, :id, :typee %>
  </div>

 <div class ="lostlocation-field">
  <%= form.label :location %><br>
  <%= form.text_field :location %>
  </div>

  <div class ="lostdescription-field">
  <%= form.label :description %><br>
  <%= form.text_area :description %>
  </div>

  

  <div class="submitlostform">
  <%= form.submit %>
  </div>

<% end %>

    <div class="backlogo">
    <%= link_to  "/#helloh1" do %>
      <div class="lgshapeshifter" style="background-image: url(/assets/back.svg)">
      </div>
      <% end %>
  </div>


