<%= stylesheet_link_tag "showpost" %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;1,400;1,700&display=swap" %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Martel:wght@300;400;600;700;800&display=swap" %>

<div class="postcontainer">
  <div class ="postimg">
    <img src=<%= @post.url %>
  </div>

  <div class="postpetstatus">
    <strong>Pet Status: </strong>
    <%= @post.pet_status.status %>
  </div>


  <div class="postdescription"
   <p> <strong>Description: </strong>
    <%= @post.description %>
  </p>
  </div>

  <p>
    <strong>Location: </strong>
    <%= @post.location %>
  </p>

  <% if @user == @post.user %>
    <td><%= link_to 'Delete', post_path(@post),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      <%= link_to 'Edit', post_edit_path(@post) %>

  <% end %>

  <div class="backlogo">
    <%= link_to  root_path do %>
      <div class="lgshapeshifter" style="background-image: url(/assets/back.svg)">
      </div>
      <% end %>
  </div>
</div>
